<section>

    <h1>Register Form</h1>
    <div class="form">
        <p class="error">{{errorMessage}}</p>
        <form [formGroup]="registerFormGroup" (ngSubmit)="register()">

            <ng-container *ngIf="touchedAndInvalid('username')">
                <p class="error" *ngIf="isRequired('username')">Username is required.</p>
            </ng-container>

            <label for="username">Username</label>
            <input formControlName="username" type="text" id="username" name="username">

            <ng-container *ngIf="touchedAndInvalid('email')">
                <p class="error" *ngIf="isRequired('email')">Email is required.</p>
                <p class="error" *ngIf="isInvalid('email')">Invalid Email.</p>
            </ng-container>

            <label for="email">Email</label>
            <input formControlName="email" type="text" id="email" name="email">

            <ng-container *ngIf="touchedAndInvalid('password')">
                <p class="error" *ngIf="isRequired('password')">Password is required.</p>
                <p class="error" *ngIf="hasMinLength('password')">Password must be at least 4 characters long.</p>
            </ng-container>

            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" name="password">

            <p class="error" *ngIf="samePasswords('repass')">Passwords are not the same.</p>

            <label for="repass">Re-Password</label>
            <input formControlName="repass" type="password" id="repeatPassword" name="repass">
            <input [disabled]="registerFormGroup.invalid" type="submit" value="Register">
            <p>Already have profile ? <a routerLink="/login">Login</a></p>

        </form>
    </div>

</section>