<div class="home">
    <h1>Welcome to electric power</h1>

    <h3>Why Electic ? Top 5 reasons to consider electric vehicle:</h3>

    <section>
        <h4> #1 Electric vehicles save you money </h4>
        <p>
            No matter where you plug in across the country, electric vehicles are cheaper to fuel than their
            gasoline-powered
            counterparts.
        </p>
    </section>

    <section>
        <h4> #2 Electric vehicles cut your emissions </h4>
        <p>
            EVs still produce less global warming pollution than their conventional counterparts.
            The emissions performance of EVs is set to only improve as wind and solar power displace coal-fired
            electricity
            generation.
            Many EV owners are also choosing to pair their EV with rooftop solar panels and home energy storage units.
        </p>
    </section>

    <section>
        <h4>#3 Electric vehicles offer you a better driving experience </h4>
        <p>
            An electric engine generates instant torque, which means that electric vehicles zoom off starting lines and
            provide smooth,
            responsive acceleration and deceleration. Electric vehicles also have a low center of gravity, which
            improves
            handling,
            responsiveness, and ride comfort.
        </p>
    </section>

    <section>
        <h4>#4 Electric vehicles cut your oil use </h4>
        <p>
            Electric vehicles are an essential part of the UCS plan to cut oil use in half in twenty years.
            Using oil causes an array of problems, and transportation remains reliant on oil as the dominant energy
            source.
        </p>
    </section>

    <section>
        <h4>#5 Electric vehicles are convenient</h4>
        <p>
            Instead of searching for a gasoline station with the cheapest prices, you can charge at home at a cheaper
            and
            much more predictable cost. And plugging in at home takes only a few seconds and lets you wake up with a
            “full
            tank” every morning. EVs also have other convenient advantages. Battery electric vehicles are mechanically
            much
            simpler than a conventional gasoline car, so the maintenance requirements are often much simpler and, for
            this
            reason, cheaper to maintain. Drivers of electric cars a do not have to change their car’s motor oil every
            5,000
            to 10,000 miles, and they never have to schedule spark plug changes, timing belt replacements, or other
            engine
            tune up items.
        </p>
    </section>
    
    <div class="browse">
        <a routerLink="/cars">browse cars</a>
    </div>
</div>