h1 {
    text-align: center;
}

img {
    width: 15rem;
}

.images {
    margin: 1rem;
    display: inline-block;
    padding-left: 2rem;
}

.details,
h4 {
    margin: 10px;
    text-align: center;
}

.specs{
   text-align: center;
   display: flex;
   justify-content: center;
}

.specs div {
    padding: 6.4rem;
}

.specs p{
    background-color: rgb(202, 209, 212);
}

