header ul {
    margin: 0;
}

img {
    height: 200px;
    width: auto;
}

img.cube {
    display: block;
    margin: 0 auto;
    text-align: center;
}

img.logo {
    width: 70px;
    height: 70px;
    padding: 10px;
    float: left;
    border-radius: 40%;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #607588;
    
}

header ul li {
    display: inline-block;
    vertical-align: middle;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0 1em;
}

header ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.auth {
    display: inline;
    float: right;
    padding-top: 2.14em;
    padding-right: 1rem;
}