<header>
    <ul>
        <li><a routerLink="/home"><img class="logo" src="/assets/logo.png"></a></li>
        <li><a routerLink="/cars">Electric Cars</a></li>

        <li><a routerLink="/forum">Forum</a></li>
        <div class="auth">
            <ng-container *ngIf="!(isLoggedIn | async)">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ng-container>
            
            <ng-container *ngIf="(isLoggedIn | async)">
                <li>Welcome {{(currentUser | async)?.username}}</li>
                <li><a (click)="handleLogout()">Logout</a></li>
            </ng-container>
        </div>
    </ul>
</header>