<header>
    <ul>
        <li><a routerLink="/home"><img class="logo" src="/assets/oie_png.png"></a></li>
        <li><a routerLink="/cars">Electric Cars</a></li>

        <li><a routerLink="/forum">Forum</a></li>
        <ng-container *ngIf="!(isLoggedIn | async)">
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ng-container>

        <ng-container *ngIf="(isLoggedIn | async)">
            <li>Welcome {{(currentUser | async)?.username}}</li>
            <li><a (click)="handleLogout()">Logout</a></li>
        </ng-container>

    </ul>
</header>