<div class="new-theme-border">
    <div class="header-background">
        <span>New Theme</span>
    </div>

    <form #newThemeForm="ngForm" (ngSubmit)="addTheme(newThemeForm.value)">

        <ng-container *ngIf="title.touched && title.invalid">
            <p class="error" *ngIf="title.errors?.['required']">
                Theme title is required.
            </p>
            <p class="error" *ngIf="title.errors?.['minlength']">
                Theme title must be at least 5 characters long.
            </p>
        </ng-container>

        <div class="new-theme-title">
            <label for="title">Title <span class="red">*</span></label>
            <input type="text" name="title" id="themeName" ngModel #title="ngModel" required minlength="5">
        </div>

        <ng-container *ngIf="content.touched && content.invalid">
            <p class="error" *ngIf="content.errors?.['required']">
                Post content cannot be empty.
            </p>
            <p class="error" *ngIf="content.errors?.['minlength']">
                Post must be at least 10 characters long.
            </p>
        </ng-container>

        <div class="new-theme-content">
            <label for="content">Post <span class="red">*</span></label>
            <textarea type="text" name="content" id="postText" rows="8" class="height" ngModel #content="ngModel"
                required minlength="10"></textarea>
        </div>

        <div class="new-theme-buttons">
            <button (click)="cancel()" class="cancel">Cancel</button>
            <button [disabled]="newThemeForm.invalid" class="public">Post</button>
        </div>

    </form>
</div>