div {
    display: inline-block;
}

.car-btns {
    width: 20%;
}

.carDetails {
    width: 80%;
}

li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
}

.mark {
    width: 300%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.data {
    width: 80%;
}

.img {
    width: 20%;
}

img {
    padding-left: 10rem;
    width: 40rem;
}