<section class="marks">

    <div class="car-btns">
        <ul>
            <li class="mark" *ngFor="let car of cars">
                <div class="data">
                    <h1>{{car.mark}} {{car.model}}</h1>
                    <p>{{car.details | shorten}}</p>
                    <a [routerLink]="['/cars', car.mark, car.model]">more details</a>
                </div>
                <div class="img">
                    <img src={{car.img[0]}} alt="">
                </div>

            </li>
        </ul>
    </div>

</section>