.emblems {
    display: inline-block;
    margin: 2rem;
    padding-left: 2rem;
    padding-bottom: 7.8rem;
}

.car-mark {
    display: inline-block;
    margin: 3rem;
}

.car-mark:hover p.name {
    background: #95a3b1;
}

img.mark {
    display: inline-block;
    margin: 0 auto;
    width: 8rem;
}

p.name {
    display: block;
    text-align: center;
}